<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error: {{ .StatusCode}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <pre>
             ______                               
            |  ____|                              
            | |__     _ __   _ __    ___    _ __  
            |  __|   | '__| | '__|  / _ \  | '__|
            | |____  | |    | |    | (_) | | |    
            |______| |_|    |_|     \___/  |_|    
                                                
        </pre>

    </div>
    
</body>
</html>